.card {
    background-color: #fce4ec;
    border: 1px solid #ff80ab;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-text {
    color: #880e4f;
}

.bg-lightpink {
    background-color: #ffcccc;

}

.bg-lightblue {
    background-color: #cce5ff;
    /* Light blue color */
}